#form-feedback{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
.text-labels{
    color: #01549b;
}
.text-content{
    color: #526069;
}
.margin-row{
    margin-top: 10px;
    margin-bottom: 10px;
}